<%- model_class = AwsAccount -%>
<div class="page-header">
  <h1><%=t '.title', :default => @aws_account.name.titleize %></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Instance ID</th>
      <th>Name</th>
      <th>Region</th>
    </tr>
  </thead>
  <tbody>
    <% @regions.each do |name,instances| %>
      <% instances.each do |instance| %>
        <tr>
          <td><%= link_to instance.id, instance_path(:aws_account_id=>@aws_account.id,:region_id=>name, :id=>instance.id) %></td>
          <td><%= instance.tags['Name'] %></td>
          <td><%= name %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
